changes.txt
desktop.ini

# Don't track local atrifacts
artifacts/*

# Don't track DAE cache files
*.cdae

# Ony track explicit AW modification files
bug-aw/*
!bug-aw/#mod

# Don't track python compiled files
build/py/__pycache__/*
