changes.txt
desktop.ini

Publish/*

# Don't track DAE cache files
*.cdae

# Ony track explicit AW modification files
bug-aw/*
!bug-aw/#mod

# Don't track python compiled files
Tools/py/__pycache__/*
BeamNG.drive.lnk
